#title {
    font-size: 50px;
    align-self: center;
    margin-top: 5%;
    -unity-font-style: bold;
}

#buttons {
    margin-top: 10%;
    width: 40%;
    align-self: center;
    flex-direction: column;
}

.button {
    width: 100%;
    margin-bottom: 10%;
}