#topBar {
    flex-basis: 10%;
    flex-direction: row;
}

#gameOverLay {
    flex-basis: 90%;
}

#debugText {
    flex-basis: 85%;
}

#mainMenuButton {
    flex-basis: 12.5%;
    align-self: stretch;
}

#exitConfirmDialog {
    margin-top: 10%;
    width: 40%;
    align-self: center;
    background-color: rgb(150, 150, 150);
}

#dialogText {
    -unity-text-align: middle-center;
}

.dialogButton {
    align-self: stretch;
}

.hiddenDialog {
    display: none;
}